---
layout: application
language: Swedish
---

{% for post in paginator.posts  %}
  <article>
    <header>
      {% if forloop.first and post.image != null %}
        <div class="image"><img src="{{ post.image }}"/></div>
      {% endif %}
      <h2><a title="Permalink to {{ post.title }}" rel="bookmark" href="{{ post.url }}">{{ post.title }}</a></h2>
      <time class="entry-date" datetime="{{ post.created_at }}">{{ post.date | date: "%B %d, %Y" }}</time>
    </header>
    <div class="entry-content">
      {{ post.description | markdownify }}
    </div>
  </article>
{% endfor %}

{% if paginator.previous_page or paginator.next_page %}
<div id="post-pagination" class="pagination">
  
  {% if paginator.next_page %}
  <p class="next">
    <a href="/page{{paginator.next_page}}">Next</a>
  </p>
  {% endif %}
  
  {% if paginator.previous_page %}
  <p class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="/">Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">Previous</a>
    {% endif %}
  </p>
  {% endif %}

  <p class="pages">{{paginator.page}} of {{paginator.total_pages}}</p>

</div>
{% endif %}