---
layout: application
language: Swedish
---

{% for post in paginator.posts  %}
  <article>
    <header {% if false and forloop.first and post.image != null and paginator.page == 1 %}class="with-image" style="background-image: url({{ post.image }});"{% endif %}>
      <h2><a title="Permalink to {{ post.title }}" rel="bookmark" href="{{ post.url }}">{{ post.title }}</a></h2>
      <time class="entry-date" datetime="{{ post.created_at }}">{{ post.date | date: "%B %d, %Y" }}</time>
    </header>
    <div class="entry-content">
      {{ post.description | markdownify }}
    </div>
  </article>
{% endfor %}

{% if paginator.previous_page or paginator.next_page %}
<div id="post-pagination" class="pagination">
  
  {% if paginator.next_page %}
  <p class="next">
    <a href="/page{{paginator.next_page}}"  class="icon-after-arrow-right-alt1"><span>Older</span></a>
  </p>
  {% endif %}
  
  {% if paginator.previous_page %}
  <p class="previous">
    <a href="{% if paginator.previous_page == 1 %}/{% else %}/page{{paginator.previous_page}}{% endif %}" class="icon-arrow-left-alt1"><span>Newer</span></a>
  </p>
  {% endif %}

</div>
{% endif %}