body {
  background-color: $color-base-bg;
  color: $color-base-text;
 }
 
 a {
   color: $color-link;
   text-decoration: none;
 }
 
 h1 {
   a {
     color: #000;
   }
 }
 
 a:hover {
   color: $color-link-hover;
 }
  
h1, h2, h3 {
  color: $color-header;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  /* Mobile */
  .wrapper {
    max-width: 420px;
    margin:0 auto;
    position: relative;
  }
  
  .hf-wrapper {
    width: 100%;
    background-color: $color-base-text;
    
    header, footer {
      max-width: 420px;
      margin:0 auto;
      position: relative;
      padding: 0;
      overflow: hidden;
    }
    
    header {
      min-height: 50px;
    }
    
    footer {
      margin-top: 30px;
      
      p {
        margin: 0;
        text-align: center;
      }
    
      a {
        line-height: 50px;
        color: $color-base-bg;
        margin: 0 5px;
        
        &:hover {
          color: $color-link-hover;
        }
      }
    }
  }
  
  #logo {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 50px;
    font-size: 16px;
    a {
      color: $color-base-bg;
    }
  }
  
  header, footer {
    padding: 10px;
    margin: 0;
  }
  
  article {
    header, footer {
      padding: 0;
    }
    
    header {
      .entry-date {
        color: $color-link-light;
      }
    }
  }
  
  #content {
    padding: 10px 25px;
  }
  
  header {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    
    nav {
      overflow: hidden;
      clear: both;
      display: block;
      max-height: 0;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      transition: all .2s ease;
      
      li {
        border-top: 1px solid $color-darkbg-border;
        clear: both;
        text-align: center;
        margin: 0;
        line-height: 35px;
      }
    }
    
    &.nav-active {
      nav {
        max-height: 250px;
      }
    }
    
    .nav-toggle {
      line-height: 50px;
      float: right;
      margin-right: 10px;
    }
  }
  
  li {
    list-style-position: inside;
  }
  
  .pagination {
    text-align: center;
    margin-top: 30px;
    position: relative;
    
    p {
      margin: 0;
    }
    
    .next {
      float: right;
    }
    
    .previous {
      float: left;
    }
    
    .next, .previous {
      position: relative;
      z-index: 100;
    }
    
    .pages {
      z-index: 5;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }

@media (min-width: 768px) {
  
}
  
@media (min-width: 960px) {
  
}