body {
  background-color: $color-base-bg;
  color: $color-base-text;
 }
 
 a {
   color: $color-link;
   text-decoration: none;
 }
 
 a:hover {
   color: $color-link-hover;
 }
  
h1, h2, h3 {
  color: $color-header;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  /* Mobile */
  #wrapper {
    max-width: 420px;
    margin:0 auto;
    position: relative;
  }
  
  #logo {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 10px;
    a {
      color: #000;
    }
  }
  
  header, footer {
    padding: 10px;
    margin: 0;
  }
  
  article {
    header, footer {
      padding: 0;
    }
  }
  
  #content {
    padding: 10px;
  }
  
  nav li {
    text-align: center;
    text-transform: uppercase;
  }
  
  li {
    list-style-position: inside;
  }
  
  .pagination {
    text-align: center;
    margin-top: 30px;
    
    .next {
      margin-left: 10px;
    }
    
    .previous {
      margin-right: 10px;
    }
  }
  
@media (min-width: 768px) {
  
}
  
@media (min-width: 960px) {
  
}