body {
  background-color: $color-base-bg;
  color: $color-base-text;
 }
 
 html, body, #wrapper {
   height: 100%;
 }
 
 body > #wrapper {
   height: auto; 
   min-height: 100%;
   }

#footer-wrapper { 
  position: relative;
  margin-top: -80px;
  height: 50px;
  clear:both;
  } 
  .wrapper {
    padding-bottom: 80px;
  }


.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }
.clearfix {
  display: inline-block;
  }

* html .clearfix { height: 1%;}
.clearfix {display: block;}

   
 a {
   color: $color-link;
   text-decoration: none;
   -webkit-transition: color 100ms linear;
   -moz-transition: color 100ms linear;
   transition: color 100ms linear;
 }
 
 h1 {
   a {
     color: #000;
   }
 }
 
 a:hover {
   color: $color-link-hover;
 }
  
h1, h2, h3 {
  color: $color-header;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  /* Mobile */
  .wrapper {
    max-width: 768px;
    width: 100%;
    margin:0 auto;
    position: relative;
  }
  
  .hf-wrapper {
    width: 100%;
    
    header, footer {
      max-width: 748px;
      margin:0 auto;
      position: relative;
      padding: 0;
      overflow: hidden;
    }
    
    header {
      min-height: 85px;
    }
    
    footer {
      margin-top: 30px;
      
      p {
        margin: 0;
        text-align: center;
      }
      
      .small {
        margin-right: 20px;
        a {
          margin: 0;
        }
      }
      a {
        line-height: 50px;
        color: $color-base-text;
        margin: 0 5px;
        
        &:hover {
          color: $color-link-hover;
        }
      }
    }
  }
  
  #logo {
    position: absolute;
    left: 20px;
    top: 10px;
    padding: 0;
    height: 75px;
    width: 75px;
    background-size: 75px 75px;
    background: transparent url('/assets/images/logo.jpg') 0 center no-repeat;
    a {
      display: block;
      overflow: hidden;
      text-indent: -10000px;
      width: 100%;
      height: 100%;
    }
  }
  
  header, footer {
    padding: 10px;
    margin: 0;
  }
  
  article {
    
    margin-bottom: 45px;
    
    header, footer {
      padding: 0;
    }
    
    header {

      .image {
        width: 100%;
        max-width: 768px;
        z-index: 1;
        margin-top: 10px;
        
        img {
          width: 100%;
          max-width: 768px;
        }
      }
      
      .entry-header {
        position: relative;
        z-index: 10;
      }
      
      h2, h1 {
        &:before {
          margin-top: 11px;
          position: absolute;
          font-size: 10px;
          left: 8px;
          color: $color-link-light;
        }
      }
    }
    
    .entry-content {
      position: relative;

      h2, h3 {
        color: $color-header;
      }
      
      ul {
        margin: 15px 0;
        
        li {
          margin: 5px 0;
        }
      }
      
      .image-grid {
        margin: 10px 0;
        
        img {
          margin: 10px;
        }
      }
    }
  }
  
  #content {
    padding: 10px 25px;
  }
  
  header {

    nav {
      overflow: hidden;
      clear: both;
      display: block;
      max-height: 0;
      opacity: 0;
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      transition: all .2s linear;
      
      li {
        border-bottom: 1px solid $color-link-superlight;
        clear: both;
        text-align: center;
        margin: 0;
        line-height: 35px;
        
        &.current {
          a {
            color: $color-link-hover;
          }
        }
      }
    }
    
    &.nav-active {
      nav {
        max-height: 250px;
        opacity: 1;
      }
    }
    
    .nav-toggle {
      line-height: 75px;
      float: right;
      margin-top: 10px;
      margin-right: 20px;
    }
  }
  
  li {
    list-style-position: inside;
  }
  
  .pagination {
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
    position: relative;
    
    p {
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      
      margin: 0;
      
      a {
        font-size: 20px;
        padding: 5px;
      }
    }
    
    .next {
      float: right;
    }
    
    .previous {
      float: left;
    }
    
    .next, .previous {
      position: relative;
      z-index: 100;
    }
    
    .pages {
      z-index: 5;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }
  }
  li.complete {
    color: $color-link-hover;
    &:hover {
      color: $color-base-text;
    }
  }
  

  #disqus_thread {
    margin-top: 80px;
  }
@media (min-width: 768px) {
  /* Mobile */
  .wrapper {
    max-width: 768px;
  }
  
  .hf-wrapper {
    
    header {
      
      #logo {
        left: 10px;
        float: left;
        position: relative;
        }
      
      nav {
        z-index: 10;
        min-height: 75px;
        margin: 10px 50px 0 0;
        float: right;
        opacity: 1;
        
        li {
          float: left;
          clear: none;
          border-top: none;
          line-height: 75px;
          margin-left: 20px;
          text-transform: capitalize;
        }
      }
    }
  }
  article {
    header {
      .image {
        margin-top: 10px;
      }
      
      h2, h1 {
        &:before {
          margin-top: 9px;
          font-size: 12px;
          left: 3px;
        }
      }
    }
  }
  .nav-toggle {
    z-index: 0;
    display: none;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  #logo {
    background-image: url('/assets/images/logo@2x.jpg');
  }
}