$color-base-bg: #FFF; // White
$color-base-text: #777; // Grey
$color-header: #292929;
$color-link: #000;
$color-link-hover: #02779E;
$color-darkbg-border: #393939;
$color-link-light: #aaa;
$color-link-superlight: #eee;
  