body {
  background-color: #fff;
  color: #452632;
 }
 
 a {
   color: #E4844A;
   text-decoration: none;
 }
 
 a:hover {
   color: #E8BF56;
 }
  
h1, h2, h3 {
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  color: #91204D;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  /* Mobile */
  #wrapper {
    max-width: 420px;
    margin:0 auto;
    position: relative;
  }
  
  #logo {
    margin: 0;
    padding: 0;
    background-color: #E4844A;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    text-indent: -10000px;
  }
  
  header, footer {
    padding: 10px;
    margin: 0;
  }
  
  #content {
    padding: 10px;
  }
  
  nav li {
    text-align: center;
    text-transform: uppercase;
  }
  
@media (min-width: 768px) {
  
}
  
@media (min-width: 960px) {
  
}